:host {
  display: block;
}

.app-shell {
  display: flex;
  flex-direction: column;
}

.app-shell__main {
  flex: 1 0 auto;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background: var(--vt-color-primary);
  color: var(--vt-font-color-primary);
}

.app-shell__outlet {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
}

.app-shell__outlet > router-outlet + * {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
